* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main-cont{
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    max-width: 50%;
    margin: auto;
    margin-top: 8%;
}

.block{
    border: 1px solid grey;
    padding: 2%;
    flex: 1 1 6%;
}
