* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body button{
    font-size: 15px;
    color: #f8f1ff;
    padding: 10px;
    border-radius: 12px;
    border: 1px solid #f8f1ff;
    background-color: #178e7c;
    margin: 20px 45px;
}

body button:hover{
    background-color: #f8f1ff;
    color: #178e7c;
    border: 1px solid #178e7c;
}

#container{
    display: flex;
    flex-direction: column;
    border: 5px solid yellowgreen;
    width: 50%;
    height: 500px;
    margin: auto;
    margin-top: 20px;
}

.row{
    display: flex;
    flex-grow: 1;
    background-color: black;
    width: 100%;
    justify-content: center;
}

.tile{
    color: red;
    border: 1px solid white;
    flex-grow: 1;
}










