* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#main-cont{
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    max-width: 50%;
    margin: auto;
    margin-top: 8%;
}

#btn{
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid purple;
    background-color: white;
    margin: 10px 45px;
}

.block{
    border: 1px solid grey;
    padding: 2%;
    flex: 1 1 6%;
    transition: 1s;
}


